<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">

      <div class="row">
        <div class="col-lg-12">
          <div class="form-group input-group">
            <input type="text" class="form-control" placeholder="Search items...">
            <span class="input-group-btn"><button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
          </div>
        </div>
      </div>

      <div class="row" *ngFor="let item of itemdisplay">
        <div class="col-lg-12">
          <div class="alert alert-info" style="cursor: pointer" (click)="agreementClick(item.agreement_id)">
            <div class="row">
              <div class="col-lg-4">
                <img src={{item.image}} alt="800x600" border="0" class="item_image">
              </div>
              <div class="col-lg-8" >
                <div class="row">
                  <p><strong>{{item.title}}</strong></p>
                </div>
                <div class="row">
                  <p><span class="glyphicon glyphicon-credit-card"></span> {{item.price}} SEK</p>
                </div>
                <div class="row">
                  <p><span class="glyphicon glyphicon-user"></span> {{item.seller_id}}</p>
                </div>
                <div class="row">
                  <p><span class="glyphicon glyphicon-time"></span> {{item.date_created}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

