/* Global stylesheet */

.app_contents {
  margin-top: 70px;
  margin-bottom: 70px;
}

h3 {
  margin-top: 5px;
}

.alert {
  border: 1px solid darkgray;
  border-radius: 0px;
}

.navbar-fixed-bottom {
  border: 1px solid darkgrey;
}

thead {
  border: 1px solid darkgray;
  background-color: #d9edf7;
}

table {
  border: 1px solid darkgray;
}

a {
  cursor: pointer;
}

agm-map {
  height: 300px;
}

/*============================LoginComponent============================*/

.generate-menu-label {
  width: 90px;
}

/*============================AgreementComponent============================*/
.action_but {
  width:49.5%;
}

.sensor-chart {
  margin-top: 0;
  border-top: none;
}

.sensor-header {
  margin-bottom: 0;
}

/*============================ItemComponent============================*/
.disabled {
  background-color: grey;
}

.item_container {
  background-color: lightblue;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid black;
}

.item_image {
  width: 100%;
}

#item_desc {
  margin-top: 20px;
  word-wrap: break-word;
}

#creation_details {
  margin-bottom: 40px;
}

/*============================ItemBrowserComponent============================*/
.item_image {
  max-width: 158px;
  max-height: 118px;
}

/*============================ItemManagerComponent============================*/
.manage_button {
  width: 100%;
}

/*============================NewItemComponent============================*/
#item_description {
  resize: none;
  height: 80px;
}

.sensor-select {
  width: 100%;
}
