/* You can add global styles to this file, and also import other style files */
.app_contents {
  position: absolute;
  top: 70px;
}

h3 {
  margin-top: 5px;
}

.generate-menu-label {
  width: 90px;
}

.alert {
  border: 1px solid darkgray;
  border-radius: 0px;
}

thead {
  border: 1px solid darkgray;
  background-color: #d9edf7;
}

table {
  border: 1px solid darkgray;
}

a {
  cursor: pointer;
}

agm-map {
  height: 300px;
}

/*Action buttons in AgreementComponent*/
.action_but {
  width:49.5%;
}

